[package]
name = "httpwsrep"
version = "0.1.0"
authors = ["Nicolas Embriz <nbari@tequila.io>"]
description = "http status codes for galera cluster wsrep"
documentation = "https://github.com/nbari/httpwsrep/blob/master/README.md"
homepage = "https://github.com/nbari/httpwsrep"
repository = "https://github.com/nbari/httpwsrep"
readme = "README.md"
keywords = ["galera", "cluster", "mysql", "http", "wsrep"]
categories = ["database", "network-programming"]
license-file = "LICENSE"
edition = "2018"

[dependencies]
clap = "2"
mysql = "16"
